.ResumeTitle{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    margin-top: -10vh;
    margin-bottom: 1px;
    text-align:Center;
    margin-bottom: 2vh;
}