ul{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1px;
    margin-left: 0vh;
    text-align:center;
    list-style-position: inside;
}
li{
    margin: 5vh 0;
}