.EducationTitle{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 0vh;
    margin-bottom: 1px;
    text-align:left;
}

.EducationResume{
    border-bottom: 1px solid #aaa;
    width: 80vw;
}

.universityName{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1px;
    text-align:left;
}

.universityTimeline{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1px;
    text-align:right;
    margin-right: 3vw;
}

.universityContent{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1px;
    text-align:right;
    margin-right: 3vw;
}