.Name{
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 8vh;
    font-weight: bold;
    margin-top: 20vh;
    margin-bottom: 1px;
    text-align:center;
}
h3{
    color: #545454;
    font-family: arial, sans-serif;
    font-size: 2vh;
    font-weight: bolder;
    margin-top: 1vh;
    margin-bottom: 1px;
    text-align:center;
}